@import 'bootstrap/scss/bootstrap';

/* KALENDER CSS */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    overflow: hidden;
}
.banner-text {
    font-size: 24px;
    font-weight: bold;
    margin-left: 130px;
}
.banner-image {
    width: 200px;
    height: auto;
}
.banner-image-dog{
    width: 310px;
    height: auto;
    margin-right: 130px;
}
.blob {
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: 0;
    top: -50px;
    left: -1px;
}
.section1 {
    position: relative;
    z-index: 1;
}

.card{
    border-radius: 30px;
}

.card-img-top{

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.btn-primary-500{
    border-radius: 20px;
    float: right;
    margin-bottom: 20px; 
    margin-top: -20px; 
    margin-right: 20px; 
}

.section2{
    max-width:850px;
    margin: 0 auto; /* Menempatkan section2 di tengah */
}

.card-text{
    text-align: justify;
}

.section3 .card-img3 {

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.section3 {
    max-width: 90%;
    margin: 0 auto;
    
}

.section3 .btn-primary-500 {
    border-radius: 20px;
    float: right;
    font-size: 14px;
}

.section3 .card-text,
h6 {
    text-align: justify;
    font-size: 12px;
}
.section3 .card-title {
    font-size: 20px;
}
.section3 .row.mb-3 .col-md-6{
    display: flex;
}

.section3 .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.section3 .col-md-6 .card .row{
    height: 100%;
    width: 100%;
}



