@import 'bootstrap/scss/bootstrap';

.list-unstyled a {
    text-decoration: none;
  }

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 85px;
    justify-content: space-between;
    align-items: center;
    background: #FFF; /* Gunakan warna latar belakang yang Anda inginkan */
    z-index: 9999;
}

.navbar-logo {
    margin: 10px;
    width: 61px;
    height: 61px;
}

.navbar-submenu {
    display: flex;
    width: 786px;
    height: 32px;
    align-items: center;
    gap: 20px; /* Sesuaikan jarak antara menu */
}

.navbar-submenu a {
    color: #000;
    text-decoration: none;
    font-size: 18px; /* Sesuaikan ukuran font */
    transition: font-size 0.3s ease;
}

.navbar-submenu a:hover {
    border-bottom: 2px solid black;
    font-size: 21px; /* Sesuaikan ukuran font saat hover */
}


